.compact {
  padding-block: var(--section-padding-compact);
  scroll-margin-top: calc(var(--nav-height));
}

.default {
  padding-block: var(--section-padding-default);
  scroll-margin-top: calc(var(--nav-height));
}

.roomy {
  padding-block: var(--section-padding-roomy);
  scroll-margin-top: calc(var(--nav-height));
}

.hero {
  padding-block: 0;
  scroll-margin-top: calc(var(--nav-height) + 1rem);
}

.subtle {
  background: var(--background-subtle);
  border-block: 1px solid var(--border);
}
